/* Custom styles */
body {
    font-family: 'Arial', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 4px;
}

header {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-electronic-technology-website-texture-background-banner-image_156039.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: auto;
    top: 0;
    left: 0;
}

#about {
    margin-top: 50px;
    height: 100vh;
}

header h1 {
    font-size: 3rem;
}

footer {
    background-color: #343a40;
}
